body {
    background-image: url('tilebackground.png');
    background-repeat: repeat;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.header {
    text-align: center;
}

h1 {
    color: white;
}

li {
    color: white;
    font-size: 25px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* added */
    top: 50%; /* added */
    left: 50%; /* added */
    transform: translate(-50%, -50%); /* added */
    max-width: 800px;
    margin: 0 auto;

    
}

.about-me-title {
    text-align: left;
}

.line {
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 100%;
    margin: 10px 0;
}

.profile-pic {
    width: 250px;
    height: 250px;
    margin-right: 80px; /* increased */
    text-align: center; /* added */
    margin: 0 auto; /* added */
}

.about-me {
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    margin-left: 60px; /* added */
    padding: 10px; /* added */
}

.buttons {
    text-align: center;
    margin-top: 20px;
    z-index: 1;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}


.post {
    z-index: 0;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  

    position: absolute;
    margin-top: 175px;

    display: block;
  
}

.post-title {
    text-align: center;
}

.post-meta {
    font-size: 0.8em;
    text-align: center;
}

.post-content {
    padding: 20px;
}

p {
    margin-bottom: 20px; /* add 20px of margin space at the bottom of each paragraph */
    
}

img{
    margin-top: 20px;

    max-width: 500px;
    height: auto;
  }
